extends layout.pug
include mixin.pug

block head
	+metadata('ldkrsi\'s Blog', '技術分享、知識分享 Blog')

block css
	include css/index.css

block main
	ul.container.list
		each row in rows 
			li
				.datetime 發佈日期：#{row.metadata.created_at}#{row.metadata.created_at === row.metadata.update_at ? '' : `；上次更新：${row.metadata.update_at}`}
				h1 
					a(href=row.path) #{row.title}
				.description #{row.metadata.description}
				.read-more 
					a(href=row.path) 閱讀全文
				hr
